# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.*

!.env.example

# Database
db.sqlite3

# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Media
media/

# Static collected files
staticfiles/